.api_cnct-img {
    display: block;
    margin: 10px auto;
    box-sizing: border-box;
    position: relative;
    width: 60%;
    padding-right: 130px;
}

.api_cnct-img.bg,
.api_cnct-img .bg {
    background-image: -webkit-radial-gradient(center top, circle cover, rgba(16, 236, 236, 1) 5%, rgba(17, 160, 170) 80%);
    background-image: -moz-radial-gradient(center top, circle cover, rgba(16, 236, 236, 1) 5%, rgba(17, 160, 170) 80%);
    background-image: -webkit-radial-gradient(center top, circle cover, rgba(16, 236, 236, 1) 5%, rgba(17, 160, 170) 80%);
    background-image: -o-radial-gradient(center top, circle cover, rgba(16, 236, 236, 1) 5%, rgba(17, 160, 170) 80%);
}

.api_cnct-img .cnt_canvas {
    width: 100%;
    max-height: 800px;
    display: block;
    overflow: scroll;
    text-align: center;
    box-sizing: border-box;
}

.api_cnct-img .canvas {
    display: inline-block;
}

.api_cnct-img .knobs,
.api_cnct-img .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.api_cnct-img .btn_switch {
    position: relative;
    width: calc(120/130*100%);
    height: 50px;
    box-sizing: border-box;
    margin: 0 0 5px 7px;
    display: inline-block;
    overflow: visible;
    border-radius: 2px;
}

.api_cnct-img .vertical_mode {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.api_cnct-img .knobs {
    z-index: 2;
}

.api_cnct-img .layer {
    width: 100%;
    background-image: -webkit-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgba(14, 103, 109) 80%);
    transition: 0.3s ease all;
    z-index: 1;
}

.api_cnct-img .btn_switch .knobs {
    perspective: 70px;
}

.api_cnct-img .btn_switch .knobs:before,
.api_cnct-img .btn_switch .knobs:after,
.api_cnct-img .btn_switch .knobs .knobs-cap {
    position: absolute;
    top: 6px;
}

.api_cnct-img .btn_switch .knobs:before,
.api_cnct-img .btn_switch .knobs:after {
    width: 27%;
    height: 28%;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    top: 25%;
}

.api_cnct-img .btn_switch .knobs:before {
    content: 'OFF';
    left: calc(4/120*100%);
}

.api_cnct-img .btn_switch .knobs:after {
    content: 'ON';
    right: calc(10/120*100%);
}

.api_cnct-img .btn_switch .knobs .knobs-cap {
    right: calc(4/55*100%);
    width: calc(57/130*100%);
    height: calc(43/55*100%);
    background-color: #03a9f4;
    transform: rotateY(0);
    transform-origin: 0% 50%;
    transition: 0.6s ease all;
    z-index: 1;
    color: #fff;
    line-height: 20px;
    box-sizing: border-box;
    padding-left: 3px;
}

.api_cnct-img .btn_switch .vertical_mode:checked+.knobs .knobs-cap {
    transform: rotateY(-180deg);
    background-color: #f44336;
}

.api_cnct-img .knobs-cap_title {
    margin: 0;
}

.api_cnct-img .btn_switch .vertical_mode:checked+.knobs .knobs-cap .knobs-cap_title {
    padding-left: 3px;
    transform: rotateY(-180deg);
}

.api_cnct-img .btn_switch .vertical_mode:checked~.layer {
    background-color: #fcebeb;
}

.api_cnct-img .cnt_buttons {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 10px;
    width: 130px;
    background-image: -webkit-radial-gradient(center top, circle cover, rgba(16, 236, 236, 1) 5%, rgb(17, 160, 170) 80%);
    padding-bottom: 5px;
}

.api_cnct-img .cnt_canvas::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.api_cnct-img .cnt_canvas::-webkit-scrollbar-button {
    background-color: rgb(34, 113, 116);
}

.api_cnct-img .cnt_canvas::-webkit-scrollbar-track {
    background-image: -webkit-radial-gradient(center, circle cover, rgba(16, 236, 236, 1) 20%, rgb(30, 124, 104) 80%);
}

.api_cnct-img .cnt_canvas::-webkit-scrollbar-track-piece {
    background-image: -webkit-radial-gradient(center, circle cover, rgba(16, 236, 236, 1) 20%, rgb(30, 124, 104) 80%);
}

.api_cnct-img .cnt_canvas::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: rgb(39, 236, 243);
    border-radius: 5px;
}

.api_cnct-img .cnt_canvas::-webkit-scrollbar-corner {
    background-image: -webkit-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgb(30, 124, 104) 80%);
}

.api_cnct-img .cnt_canvas::-webkit-resizer {
    background-color: #666;
}

.api_cnct-img .cnt_btn-loaders {
    display: flex;
    flex-direction: column;
    width: calc(58/130*100%);
}

.api_cnct-img .imageLoader1+label,
.api_cnct-img .imageLoader2+label {
    color: #fff;
    border: 0px;
    text-align: center;
    width: 100%;
    border-radius: 50%;
    background: transparent;
    background-image: -moz-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgb(30, 124, 104) 80%);
    background-image: -webkit-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgb(30, 124, 104) 80%);
    background-image: -o-radial-gradient(center bottom, circle cover, rgba(16, 236, 236, 1) 20%, rgb(30, 124, 104) 80%);
    display: block;
    padding: calc(28/58*100%);
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 0;
    position: relative;
}

.api_cnct-img .imageLoader1+label .btn_highlight,
.api_cnct-img .imageLoader2+label .btn_highlight {
    position: absolute;
    color: transparent;
    height: calc(20/58*100%);
    width: calc(41/58*100%);
    left: calc(8/58*100%);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    top: 0;
}

.api_cnct-img .imageLoader1,
.api_cnct-img .imageLoader2 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.api_cnct-img .imageLoader1+label span,
.api_cnct-img .imageLoader2+label span {
    position: absolute;
    box-sizing: border-box;
    padding: 0 4px;
    top: 15%;
    left: 5%;
}

.api_cnct-img .imageLoader1+label:hover,
.api_cnct-img .imageLoader2+label:hover {
    background-image: -moz-radial-gradient(center bottom, circle cover, rgb(54, 240, 138) 20%, rgb(27, 102, 23) 80%);
    background-image: -webkit-radial-gradient(center bottom, circle cover, rgb(54, 240, 138) 20%, rgb(27, 102, 23) 80%);
    background-image: -o-radial-gradient(center bottom, circle cover, rgb(54, 240, 138) 20%, rgb(27, 102, 23) 80%);
}

.api_cnct-img .button_remove {
    color: #fff;
    line-height: 32px;
    border: 0px;
    text-align: center;
    width: 65%;
    border-radius: 16px;
    background: transparent;
    background-image: -moz-radial-gradient(center, circle cover, rgba(16, 236, 236, 0.5) 0.5%, rgb(30, 124, 104) 80%);
    background-image: -webkit-radial-gradient(center, circle cover, rgba(16, 236, 236, 0.5) 0.5%, rgb(30, 124, 104) 80%);
    background-image: -o-radial-gradient(center, circle cover, rgba(16, 236, 236, 0.5) 0.5%, rgb(30, 124, 104) 80%);
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
    -o-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 0px;
    cursor: pointer;
    margin: 10px 0;
}

.api_cnct-img .button_remove:before {
    content: ".";
    color: transparent;
    line-height: 16px;
    width: 85%;
    margin-top: 0px;
    margin-bottom: -17px;
    margin-left: 5px;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    border-radius: 16px;
    display: block;
}

.api_cnct-img .button_remove:hover {
    background-image: -moz-radial-gradient(center, circle cover, rgba(218, 16, 236, 0.5) 0.5%, rgb(138, 31, 31) 80%);
    background-image: -webkit-radial-gradient(center, circle cover, rgba(218, 16, 236, 0.5) 0.5%, rgb(138, 31, 31) 80%);
    background-image: -o-radial-gradient(center, circle cover, rgba(218, 16, 236, 0.5) 0.5%, rgb(138, 31, 31) 80%);
}

@media (max-width: 793px) {
    .api_cnct-img {
        width: 90%;
        padding-left: 80px;
        padding-right: 0;
    }
    .api_cnct-img .cnt_canvas {
        max-height: 500px;
    }
    .api_cnct-img .cnt_buttons {
        left: 0;
        max-width: 80px;
    }
    .api_cnct-img .knobs-cap_title {
        display: none;
    }
    .api_cnct-img .btn_switch {
        margin: 0;
        height: 35px;
        margin-bottom: 10px;
    }
    .api_cnct-img .btn_switch .knobs:before {
        content: 'Mode \2192';
        left: calc(4/120*100%);
        top: 0;
    }
    .api_cnct-img .btn_switch .knobs:after {
        content: 'Mode \2193';
        right: calc(10/120*100%);
        top: 0;
    }
    .api_cnct-img .btn_switch .knobs .knobs-cap {
        width: calc(55/120*100%);
        top: 4px;
    }
    .api_cnct-img .imageLoader1+label span {
        left: 0;
    }
    .api_cnct-img .imageLoader1+label,
    .api_cnct-img .imageLoader2+label {
        font-size: 12px;
    }
    .api_cnct-img .cnt_btn-loaders {
        width: calc(67/130*100%);
    }
}

@media (max-width: 442px) {
    .api_cnct-img {
        padding-left: 60px;
    }
    .api_cnct-img .cnt_buttons {
        width: 60px;
    }
    .api_cnct-img .btn_switch {
        height: 20px;
        width: 50px;
    }
    .api_cnct-img .btn_switch .knobs:before,
    .api_cnct-img .btn_switch .knobs:after {
        padding: 2px 3px;
    }
    .api_cnct-img .btn_switch .knobs:before,
    .api_cnct-img .btn_switch .knobs:after,
    .api_cnct-img .btn_switch .knobs .knobs-cap {
        top: 2px;
    }
    .api_cnct-img .btn_switch .knobs:before {
        content: '\2192';
    }
    .api_cnct-img .btn_switch .knobs:after {
        content: '\2193';
    }
    .api_cnct-img .imageLoader1+label,
    .api_cnct-img .imageLoader2+label {
        font-size: 10px;
    }
    .api_cnct-img .cnt_btn-loaders {
        width: calc(86/130*100%);
    }
    .api_cnct-img .button_remove {
        position: relative;
        line-height: 4;
        width: calc(86/130*100%);
        border-radius: 50%;
        font-size: 9px;
        box-sizing: border-box;
        margin: 10px 0;
        text-align: center;
    }
    .api_cnct-img .button_remove .btn_highlight {
        position: absolute;
        color: transparent;
        height: calc(20/58*100%);
        width: calc(41/58*100%);
        left: calc(8/58*100%);
        background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
        border-radius: 50%;
        box-sizing: border-box;
        display: block;
        top: 0;
    }
    .api_cnct-img .button_remove:before {
        display: none;
    }
}